*{
    margin: 0;
    padding: 0;
}
:root{
    --main-bg: #ccc;
    --side-bg: blue;
    --chat-bg: #eee;
    --btn-color: orange;
    --msg-label-color: #000;
    --join-chat-form-color: #eee;
    --join-chat-body-color: blue;
    --chat-user-background: #fff;
}
.chat_container{
    display: flex;
    flex-direction: row;
}
.chat_sidebar{
    height: 100vh;
    width: 20%;
    background-color: var(--side-bg);
}
.chat_main{
    height: 100vh;
    width: 100%;
    position: relative;
    background: var(--chat-bg);
}
.message_list{
  padding: 20px 5px 10px 20px;
  box-sizing: border-box;
  height: 90vh;
  overflow: auto;
}
.list_message{
    padding: 5px 0px;
}
.message_label{
    display: block;
    color: var(--msg-label-color);
}
.message_label .time{
  font-size: 13px;
}

.chat_footer{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    /*background: red;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 5px 5px 20px;
    box-sizing: border-box;

}

.chat-form{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.chat-input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
}
button{
    outline: none;
    border: none;
    padding: 7px 40px;
    text-wrap: wrap;
    background: var(--btn-color);
    margin: 0px 5px;
    cursor: pointer;
}
/*---------Join Chat--------*/
.join-chat-body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--join-chat-body-color);
    height: 100vh;
}
.join-chat-form{
    background-color: var(--join-chat-form-color);
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid var(--join-chat-form-color);
    box-sizing: border-box;
}
.join-chat-form h3{
    text-align: center;
    padding: 10px;
}
.form-field{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.form-field label{
    padding: 5px 0px;
}
.form-field input{
    padding: 10px 10px;
}
.form-field button{
    padding: 10px 10px;
}
/*--------chat sidebar--------*/
.chat_sidebar h3{
    text-align: center;
}
.chat_sidebar li{
    display: block;
    padding: 10px;
    background: var(--chat-user-background);
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}
